.div-home{
    display: flex;
    flex-wrap: nowrap;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.gifs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
}

.trending{
    width: 15%;
    font-size: 1.5rem;
}
ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: gray;
}