form{
    margin-bottom: 50px;
    width: 30%;
}
input, select, button{
    border-radius: 7px;
}
input{
    width: 300px;
    padding: 5px;
    height: 30px;

}
select{
    width: 100px;
    height: 45px;
}
button{
    width: 70px;
    height: 35px;
    background-color: #119da4;
}